/* Chrome, Safari, Edge, Opera removing arrow in number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove arrow in number input in firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body, html {
	height: 100vh;
	width: 100vw;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr 10fr;
	background:white;
}
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}
.toast {
    min-width: 200px;
    margin-left:auto;
    margin-right:auto;
    background-color: #333;
    top:0px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    opacity:0;
    font-size: 17px;
    box-shadow: 3px 3px 6px #c6c6c6, -3px -3px 6px #ffffff;
}

.form-container {
    background:white;
 /**   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);**/
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

#tracking-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 10px 0;
    display:flex;
    align-items:center;
}

.form-label{
    font-size: 16px;
    margin-bottom: 5px;
    color:black;
    font-weight:28px;
    margin-right:10px;
}
.form-input {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-shadow: inset 5px 5px 10px #c1c1c1, inset -5px -5px 10px #ffffff;
}

.form-input::placeholder {
    color: #888;
}

.form-input:focus {
    outline: none;
    box-shadow: inset 5px 5px 10px #b0b0b0, inset -5px -5px 10px #ffffff;
}

.date-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.date-container .form-label {
    margin: 5px 0;
    color: #555;
}

.form-button {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
    transition: all 0.3s ease;
}

.form-button:hover {
    box-shadow: 5px 5px 10px #b0b0b0, -5px -5px 10px #ffffff;
}

