.main-grid{
	display:grid;
	grid-template-columns:1fr 3fr;
	grid-template-rows:2;
	width:100%;
}
body{
	background: #e6e6f2;
}
* {
	padding:0;
	margin:0;
}
nav {
	margin:30px;
}
table {
	border-collapse: collapse;
}
td {
  width: 1.5em;
  height: 2.0em;
  vertical-align: middle;
  box-shadow:0px 2px #ccc;
}
th {
	width: 1.5em;
	height: 2.0em;
	text-align:start;
}
.dashboard-content{
	margin-top:0px;
	padding-top:0px;
	padding:30px;
	display:grid;
	grid-template-columns:1fr;
}

.category-card{
	display:flex;
	margin:30px;
	margin-top:0px;
	padding-top:1em; 
	flex-direction:column;
	background:#ffffff;
	box-shadow: #e8e6f0;
	border-radius:10px;
}
.category-card img{
	width:24px;
	height:24px;
	margin-left:20px;
}
.category-card h3{
	align-self:center;
}
.percentage{
	width:60px;
	height:60px;
	background:green;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	align-self:center;
	border-radius:50%;
	border:4px solid blue;
	margin-right:20px;
}
.overview{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.status{
	display:flex;
	flex-direction:column;
	justify-content:start;
	gap:5px;
	align-items:center;
	align-self:center;
	margin-left:20px;
}
.purchases-container{
	display:flex;
	margin:30px;
	padding-top:2em;
	flex-direction:column;
	background:#ffffff;
	box-shadow:rgb(231, 231, 243);
	border-radius:10px;
}
.purchases-container a{

	align-self:center;
}
@media screen and (max-width: 900px)
{
	.analytics{
		display:flex;
		flex-direction: column;
		justify-content:space-around;
		width:100%;
	}
	.dashboard-content{
		padding: 30px;
	}
}
@media screen and (min-width: 901px)
{
	.analytics{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
	}
