<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpendSmart - Manage Your Finances</title>
    <link rel="stylesheet" href="../static/styles/landing.css?{{ cache_id }}" media="all">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/header.js?{{ cache_id }}"></script>
</head>
<body>
	<header class="site-header">
		<div class="logo-name-menu">
			<img class="web-logo" src="../static/images/web-logo.jpg">
			<h1>SpendSmart</h1>
			<div class="menu-toggle" id="mobile-menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</div>
		<nav>
			<div class="nav-links">
				<a href="#demo">Demo</a>
				<a href="#features">Features</a>
				<a href="#about">About</a>
				<a href="#testmonials">Testimonials</a>
				<a href="{{ url_for('auth.login_page') }}">Login</a>
				<a href="{{ url_for('auth.signup_page') }}" class="signup-btn">Sign Up</a>
			</div>
		</nav>
	</header>
	<img class="intro-image" src="../static/images/intro-image.jpg">
	<section id="hero" class="hero">
		<div class="hero-content">
			<h2>Take Control of Your Finances</h2>
			<p>SpendSmart helps you to set budgets, monitor your spending, and achieve your financial goals with ease.</p>
			<a href="{{url_for('auth.signup_page') }}" class="cta-btn">Get Started</a>
		</div>
	</section>

	<section id="features" class="features">
		<h2>Features</h2>
		<div class="features-grid">
			<div class="feature-item feature1">
				<div class="feature-content">
					<h3>Track Your Expenses</h3>
					<p>Easily record your expenses with detailed information such as category, amount spent, and date. Keep a comprehensive log to monitor your spending habits and maintain financial awareness.</p>
				</div>
				<img src="../static/images/log-expense-feature.png" alt="Track Expenses">
			</div>
			<div class="feature-item feature2">
				<img src="../static/images/budget-analysis-feature.png" alt="Budget Summary">
				<div class="feature-content">
					<h3>Budget Analysis</h3>
					<p>Get a detailed record of your spending and identify where your money goes.</p>
				</div>
			</div>
			<div class="feature-item feature3">
				<img src="../static/images/notification-feature.png" alt="Notifications">
				<div class="feature-content">
					<h3>Smart Financial Notifications</h3>
					<p>Receive timely alerts when you exceed your budget, spend all your allocated funds, or approach budget limits. Get end-of-period achievements if you save money, and warnings to help you adjust your spending habits.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="about">
		<h2>About SpendSmart</h2>
		<p>SpendSmart was born from my personal journey with managing pocket money. I often found myself wishing I had a guardian for my finances, someone to watch over my spending and alert me before I overspent on the money i had. I wanted a tool that could help me allocate my money wisely across different expenses—whether it was for entertainment, food, or essential school supplies like books and stationery and monitor how i used money on them.

One of my challenges was understanding the financial impact of eating out versus cooking at home. To solve this, I started had to devise a  way tracking my spending: one week dedicated to dining out and another to cooking meals then compare costs and make informed decisions about where my money was going.

Beyond personal finance, SpendSmart was also inspired by a desire to help others facing similar challenges. I envisioned a tool that not only tracks expenses but also guides users toward financial awareness and smart spending habits. SpendSmart is not just about managing money—it's about empowering users to take control of their finances and achieve their financial goals</p>
		<p>This project is also a part of my portfolio for Holberton School. You can view more of my work and connect with me through the links below.</p>
		<div class="team-links">
			<a href="https://www.linkedin.com/in/murithimichael254/" target="_blank">LinkedIn</a> |
			<a href="https://github.com/mikelexx" target="_blank">GitHub</a> |
			<a href="https://x.com/LexMur46428" target="_blank">Twitter</a>
		</div>
		<p>You can find the source code for this project on <a href="https://github.com/mikelexx/spendsmart" target="_blank">GitHub</a>.</p>
	</section>
	<section id="demo" class="demo">
		<video width="640" height="360" controls  loop muted = "path/to/poster-image.jpg">
			<source src="../static/videos/demo.mp4">
			Your browser does not support the video tag.
		</video>
	</section>
	<section id="testmonials" class="testimonials">
		<h2>What Our Users Say</h2>
		<div class="testimonial-grid">
			<div class="testimonial-item">
				<p>"SpendSmart has completely transformed how I manage my finances. I can easily track my expenses and stay within my budget."</p>
				<h4>- Alex</h4>
			</div>
			<div class="testimonial-item">
				<p>"The analytics feature is amazing! It helps me stay disciplined with my finances, providing alerts and encouragement along the way."</p>
				<h4>- Jamie</h4>
			</div>
			<div class="testimonial-item">
				<p>"I love the simplicity and ease of use. SpendSmart makes managing finances a breeze."</p>
				<h4>- Taylor</h4>
			</div>
		</div>
	</section>

	<section class="cta-section">
		<h2>Ready to Get Started?</h2>
		<p>Join thousands of satisfied users who are taking control of their finances with SpendSmart.</p>
		<a href="{{url_for('auth.signup_page')}}" class="cta-btn">Sign Up Now</a>
	</section>

	<footer class="site-footer">
		<p>&copy; 2024 SpendSmart. All rights and wrongs reserved.</p>
	</footer>
</body>
</html>

