<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="../static/styles/auth_form.css?{{ cache_id }}" media="all">
	<link rel="stylesheet" href="../static/styles/signup.css?{{ cache_id }}" media="all">
	<link rel="stylesheet" href="../static/styles/site-header.css?{{ cache_id }}" media="all">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../static/scripts/auth.js?{{ cache_id }}"></script>

</head>
<body>
	{% include 'site-header.html' %}
	<div class="auth-form">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div class="toast">{{ message }}</div>
		{% endfor %}
	{% endif %}
	{% endwith %}
	<form method="POST" action="{{ url_for('auth.signup') }}">
		<h1>Signup</h1>
		<div class="email-container">
		<h3>Enter email</h3>
		<input class="email-input" type="email" autocomplete="off" name="email" required="required">
		</div>
		<div class="password-container">
		<h3>Enter Password</h3>
		<input class="password-input" type="password" name="password" required="required">
		</div>
		<div class="goto-container">
			<div class="remember">
				<input class="checkbox" type="checkbox" name="remember">
				<label for="remember">Remember me</label>
			</div>

			<a class="login" href="{{ url_for('auth.login_page') }}">Login</a>
		</div>
		<div class="submit-container">
			<input type="submit" class="submit" value="Signup">
		</div>
	</form>
	</div>
</body>
</html>
