<header class="site-header">
	<div class="logo-name-menu">
			<a href="{{url_for('main.home')}}">
				<img class="web-logo" src="../static/images/web-logo.jpg">
			</a>
		<h1>SpendSmart</h1>
		<div class="menu-toggle" id="mobile-menu">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</div>
	<nav>
		<div class="nav-links">
			<a href="{{url_for('main.home')}}">Home</a>
			<a href="{{ url_for('auth.login_page') }}">Login</a>
			<a href="{{ url_for('auth.signup_page') }}" class="signup-btn">Sign Up</a>
		</div>
	</nav>

</header>
