<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Login - SpendSmart</title>
		<link rel="stylesheet" href="../static/styles/main-header.css?{{ cache_id }}" media="all">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<link rel="stylesheet" href="../static/styles/track_collection.css?{{ cache_id }}">
		<script src="../static/scripts/track_collection.js?{{ cache_id }}"></script>
		<script src="../static/scripts/header.js?{{ cache_id }}"></script>
	</head>
	<body>
		{% include 'main-header.html' %}


		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<div class="toast">{{ message }}</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<div class="form-container">
			<form id="tracking-form" method="post" action="{{ url_for('collection.track_collection') }}">
				<div class="form-group">
					<label for="name-input" class="form-label">Budget Name</label>
					<input id="name-input" class="form-input" type="text" name="name" placeholder="Groceries" required="required" autocomplete="off">
				</div>
				<div class="form-group">
					<label for="description-toggle" class="form-label">Add Notes</label>
					<input type="checkbox" id="description-toggle" class="form-input">
				</div>
				<div class="form-group" id="description-group" style="display: none;">
					<!-- <label for="description-input" class="form-label">Add Notes</label> -->
					<textarea id="description-input" class="form-input" rows="2" type="text" name="description" placeholder="money i spent on buying tomatoes, onions, ..." autocomplete="off"></textarea>
				</div>
				<div class="form-group">
					<label for="limit-input" class="form-label">Budget Limit</label>
					<input id="limit-input" class="form-input" type="number" name="limit" min="0.1" step="any"placeholder="1000.00" required="required" autocomplete="off">
				</div>
				<div class="form-group date-container">
					<h3 class="form-label duration-span">Monitoring period</h3>
					<label for="start-date-input" class="form-label">Start Date: </label>
					<input id="start-date-input" class="form-input" placeholder="Select Date" type="text" name="start_date" autocomplete="off">
					<label for="end-date-input" class="form-label">End Date: </label>
					<input id="end-date-input" class="form-input" type="text" placeholder="Select Date" name="end_date" autocomplete="off">
				</div>
				<button type="submit" class="form-button">Start Monitoring</button>
			</form>
		</div>
	</body>
</html>

